# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - openapi
pr: none

variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  majorMinorPackageVersion: 1.1

jobs:

- job: Nuget
  pool:
    vmImage: 'windows-latest'

  steps:
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '3.1.100'

  - task: Npm@1
    inputs:
      command: 'custom'
      customCommand: 'install -g autorest@2.0.4413'

  - task: CmdLine@2
    inputs:
      script: 'autorest --input-file=openapi/custodian.json --csharp --output-folder=csharp/Generated --namespace=Streetcred.ServiceClients --add-credentials --override-client-name=CustodianServiceClient'
  
  - task: CmdLine@2
    inputs:
      script: 'autorest --input-file=openapi/agency.json --csharp --output-folder=csharp/Generated --namespace=Streetcred.ServiceClients --add-credentials --override-client-name=AgencyServiceClient'

  - task: NuGetToolInstaller@1

  - task: DotNetCoreCLI@2
    inputs:
      command: 'custom'
      projects: 'csharp/**/*.csproj'
      custom: 'pack'
      arguments: '/p:PackageVersion=$(majorMinorPackageVersion).$(Build.BuildId) /p:Configuration=$(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'nuget'
      publishLocation: 'Container'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: 'csharp'
      ArtifactName: 'nuget-sources'
      publishLocation: 'Container'

- job: Npm
  pool:
    vmImage: 'windows-latest'

## npm agency
  steps:
  - task: Npm@1
    inputs:
      command: 'custom'
      customCommand: 'install -g autorest@2.0.4413'
      
  - task: Npm@1
    inputs:
      command: 'custom'
      workingDir: 'typescript/agency'
      customCommand: 'version $(majorMinorPackageVersion).$(Build.BuildId)'

  - task: CmdLine@2
    inputs:
      script: 'autorest --input-file=openapi/agency.json --typescript --output-folder=typescript/agency --add-credentials --override-client-name=AgencyServiceClient --custom-service-client-options=[baseUri=''https://api.streetcred.id/'']'

  - task: Npm@1
    inputs:
      command: 'install'
      workingDir: 'typescript/agency'

  - task: Npm@1
    inputs:
      command: 'custom'
      workingDir: 'typescript/agency'
      customCommand: 'run build'
      
  - task: CopyFiles@2
    inputs:
      SourceFolder: 'typescript/agency'
      Contents: '**'
      TargetFolder: '$(Build.ArtifactStagingDirectory)'
  
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'npm-agency'
      publishLocation: 'Container'

## NPM Custodian
  - task: Npm@1
    inputs:
      command: 'custom'
      workingDir: 'typescript/custodian'
      customCommand: 'version $(majorMinorPackageVersion).$(Build.BuildId)'

  - task: CmdLine@2
    inputs:
      script: "autorest --typescript --input-file=openapi/custodian.json --add-credentials --output-folder=package/typescript/custodian --override-client-name=CustodianClient"

  - task: Npm@1
    inputs:
      command: 'install'
      workingDir: 'typescript/custodian'

  - task: Npm@1
    inputs:
      command: 'custom'
      workingDir: 'typescript/custodian'
      customCommand: 'run build'
      
  - task: CopyFiles@2
    inputs:
      SourceFolder: 'typescript/custodian'
      Contents: '**'
      TargetFolder: '$(Build.ArtifactStagingDirectory)'
  
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'npm-custodian'
      publishLocation: 'Container'