{
    "swagger": "2.0",
    "info": {
        "title": "Streetcred ID Wallet API",
        "description": "A powerful API to manage self-sovereign identity for users",
        "termsOfService": "https://streetcred.id/terms-of-service/",
        "contact": {
            "name": "Streetcred Engineering Team",
            "url": "https://streetcred.id/contact-us",
            "email": "support@streetcred.id"
        },
        "version": "v1"
    },
    "host": "api.streetcred.id",
    "basePath": "/custodian/v1",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "accessToken": {
            "description": "Standard Authorization header using the Bearer scheme. Example \"Bearer {token}\"",
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        },
        "subscriptionKey": {
            "type": "apiKey",
            "name": "X-Streetcred-Subscription-Key",
            "in": "header"
        }
    },
    "security": [
        {
            "accessToken": []
        },
        {
            "subscriptionKey": []
        }
    ],
    "paths": {
        "/api/{walletId}/connections/invitation": {
            "post": {
                "description": "More details about what it means to accept an invitation can be found within the <a href=\"https://github.com/hyperledger/aries-rfcs/blob/master/features/0160-connection-protocol/README.md#0-invitation-to-connect\">Aries Connection Protocol </a>",
                "operationId": "AcceptInvitation",
                "summary": "Accept an invitation",
                "tags": [
                    "Connection"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "The wallet Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "invitation",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ConnectionContract"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/{walletId}/connections/{connectionId}": {
            "get": {
                "description": "Related: <a href=\"https://docs.streetcred.id/docs/connections\"> Guide to Connections </a>",
                "operationId": "GetConnection",
                "summary": "Get connection by ID",
                "tags": [
                    "Connection"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "connectionId",
                        "in": "path",
                        "description": "The connection identifier.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ConnectionContract"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/{walletId}/connections": {
            "get": {
                "description": "Retrieves a list of connections that are in 'Connected' state.",
                "operationId": "GetConnections",
                "summary": "Get list of connections.",
                "tags": [
                    "Connection"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ConnectionContractArray"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/{walletId}/connections/invitations": {
            "get": {
                "description": "Get list of invitations.",
                "operationId": "GetInvitations",
                "summary": "Get list of invitations.",
                "tags": [
                    "Connection"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "The wallet identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ConnectionContractArray"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/{walletId}/credentials/connection/{connectionId}": {
            "get": {
                "description": "Lists the credentials for a connection identifier.",
                "operationId": "ListCredentialsForConnectionId",
                "summary": "Lists the credentials for a connection identifier.",
                "tags": [
                    "Credentials"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "connectionId",
                        "in": "path",
                        "description": "The connection identifier.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CredentialContractArray"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/{walletId}/credentials": {
            "get": {
                "description": "Lists the credentials.",
                "operationId": "ListCredentials",
                "summary": "Lists the credentials.",
                "tags": [
                    "Credentials"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CredentialContractArray"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/{walletId}/credentials/{credentialId}": {
            "post": {
                "description": "Learn more about credentials in <a href=\"https://docs.streetcred.id/docs/credentials\"> our credentials documentation </a>",
                "operationId": "AcceptCredentialOffer",
                "summary": "Accepts the credential offer.",
                "tags": [
                    "Credentials"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "credentialId",
                        "in": "path",
                        "description": "The credential identifier.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "get": {
                "description": "Retrieve the credential details for the given {credentialId}",
                "operationId": "GetCredential",
                "summary": "Retrieve the credential details for the given {credentialId}",
                "tags": [
                    "Credentials"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "The wallet identifier.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "credentialId",
                        "in": "path",
                        "description": "The credential identifier.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CredentialContract"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/{walletId}/verifications/connection/{connectionId}": {
            "get": {
                "description": "Lists the verifications for connection.",
                "operationId": "ListVerificationsForConnection",
                "summary": "Lists the verifications for connection.",
                "tags": [
                    "Verification"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "connectionId",
                        "in": "path",
                        "description": "The connection identifier.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/VerificationContractArray"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/wallets": {
            "get": {
                "description": "Lists all custodian wallets",
                "operationId": "ListWallets",
                "summary": "Lists all custodian wallets",
                "tags": [
                    "Wallet"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CustodianWalletContractArray"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "post": {
                "description": "Create new user wallet",
                "operationId": "CreateWallet",
                "summary": "Create new user wallet",
                "tags": [
                    "Wallet"
                ],
                "parameters": [
                    {
                        "name": "walletParameters",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/WalletParameters"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CustodianWalletContract"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "delete": {
                "description": "This will delete all connections, credentials and verification records for this user wallet.",
                "operationId": "DeleteWallet",
                "summary": "Deletes the custodian wallet permanently.",
                "tags": [
                    "Wallet"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/{walletId}/verifications": {
            "get": {
                "description": "Get a list of all available verifications for the specified wallet",
                "operationId": "ListVerifications",
                "summary": "Get a list of all available verifications for the specified wallet",
                "tags": [
                    "Verification"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/VerificationContractArray"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/{walletId}/verifications/{verificationId}/autoSelect": {
            "put": {
                "description": "If a credential is not available for a certain policy, that policy will not be included\r\nin the submitted verification.",
                "operationId": "SubmitVerificationAutoSelect",
                "summary": "Submit verification by automatically selecting available credentials.",
                "tags": [
                    "Verification"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "The wallet identifier",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verificationId",
                        "in": "path",
                        "description": "The verification identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/{walletId}/verifications/{verificationId}": {
            "put": {
                "description": "Submit verification using the provided policy parameters",
                "operationId": "SubmitVerification",
                "summary": "Submit verification using the provided policy parameters",
                "tags": [
                    "Verification"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verificationId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verificationPolicyCredentialParametersArray",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/VerificationPolicyCredentialParametersArray"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "get": {
                "description": "Retrieve a verification with the given identifier.",
                "operationId": "GetVerification",
                "summary": "Retrieve a verification with the given identifier.",
                "tags": [
                    "Verification"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "The wallet identifier.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verificationId",
                        "in": "path",
                        "description": "The verification identifier.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/VerificationContract"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/{walletId}/verifications/{verificationId}/availableCredentials": {
            "get": {
                "description": "Get a list of available credentials for a given verification",
                "operationId": "GetAvailableCredentialsForVerification",
                "summary": "Get a list of available credentials for a given verification",
                "tags": [
                    "Verification"
                ],
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verificationId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/VerificationPolicyCredentialContractArray"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        }
    },
    "definitions": {
        "ConnectionState": {
            "enum": [
                "Invited",
                "Negotiating",
                "Connected"
            ],
            "type": "string"
        },
        "AgentEndpoint": {
            "type": "object",
            "properties": {
                "did": {
                    "type": "string",
                    "readOnly": true
                },
                "verkey": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "readOnly": true
                },
                "uri": {
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "ConnectionContract": {
            "type": "object",
            "properties": {
                "connectionId": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "imageUrl": {
                    "type": "string"
                },
                "myDid": {
                    "type": "string"
                },
                "theirDid": {
                    "type": "string"
                },
                "myKey": {
                    "type": "string"
                },
                "theirKey": {
                    "type": "string"
                },
                "state": {
                    "$ref": "#/definitions/ConnectionState"
                },
                "invitation": {
                    "type": "string"
                },
                "invitationUrl": {
                    "type": "string"
                },
                "endpoint": {
                    "$ref": "#/definitions/AgentEndpoint"
                },
                "createdAtUtc": {
                    "format": "date-time",
                    "type": "string"
                },
                "multiParty": {
                    "type": "boolean"
                }
            }
        },
        "CredentialState": {
            "enum": [
                "Offered",
                "Requested",
                "Issued",
                "Rejected",
                "Revoked"
            ],
            "type": "string"
        },
        "CredentialContract": {
            "type": "object",
            "properties": {
                "credentialId": {
                    "type": "string"
                },
                "state": {
                    "$ref": "#/definitions/CredentialState"
                },
                "connectionId": {
                    "type": "string"
                },
                "definitionId": {
                    "type": "string"
                },
                "schemaId": {
                    "type": "string"
                },
                "offerData": {
                    "type": "string"
                },
                "offerUrl": {
                    "type": "string"
                },
                "issuedAtUtc": {
                    "format": "date-time",
                    "type": "string"
                },
                "acceptedAtUtc": {
                    "format": "date-time",
                    "type": "string"
                },
                "values": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "ProofState": {
            "enum": [
                "Requested",
                "Accepted",
                "Rejected"
            ],
            "type": "string"
        },
        "ProofAttributeContract": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                },
                "attributes": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "revealed": {
                    "type": "boolean",
                    "readOnly": true
                },
                "selfAttested": {
                    "type": "boolean"
                },
                "conditional": {
                    "type": "boolean"
                }
            }
        },
        "VerificationContract": {
            "type": "object",
            "properties": {
                "connectionId": {
                    "type": "string"
                },
                "verificationId": {
                    "type": "string"
                },
                "definitionId": {
                    "type": "string"
                },
                "state": {
                    "$ref": "#/definitions/ProofState"
                },
                "createdAtUtc": {
                    "format": "date-time",
                    "type": "string"
                },
                "updatedAtUtc": {
                    "format": "date-time",
                    "type": "string"
                },
                "isValid": {
                    "type": "boolean"
                },
                "verifiedAtUtc": {
                    "format": "date-time",
                    "type": "string"
                },
                "proof": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/ProofAttributeContract"
                    }
                },
                "verificationRequestData": {
                    "type": "string"
                },
                "verificationRequestUrl": {
                    "type": "string"
                }
            }
        },
        "VerificationPolicyCredentialParameters": {
            "type": "object",
            "properties": {
                "policyName": {
                    "type": "string"
                },
                "credentialId": {
                    "type": "string"
                },
                "hidden": {
                    "type": "boolean"
                }
            }
        },
        "VerificationPolicyCredentialContract": {
            "type": "object",
            "properties": {
                "policyName": {
                    "type": "string"
                },
                "attributeNames": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "availableCredentials": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CredentialContract"
                    }
                }
            }
        },
        "CustodianWalletContract": {
            "description": "Wallet information",
            "type": "object",
            "properties": {
                "walletId": {
                    "description": "Gets or sets the identifier.",
                    "type": "string"
                },
                "name": {
                    "description": "Gets or sets the name.",
                    "type": "string"
                }
            }
        },
        "WalletParameters": {
            "description": "Wallet parameters",
            "type": "object",
            "properties": {
                "walletId": {
                    "description": "Gets or sets the wallet identifier.\r\n<remarks>\r\nThis property can be null. If not set, a unique identifier will be generated\r\n</remarks>",
                    "type": "string"
                },
                "ownerName": {
                    "description": "Gets or sets the name of the owner.",
                    "type": "string"
                }
            }
        },
        "ConnectionContractArray": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/ConnectionContract"
            }
        },
        "CredentialContractArray": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/CredentialContract"
            }
        },
        "VerificationContractArray": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/VerificationContract"
            }
        },
        "VerificationPolicyCredentialParametersArray": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/VerificationPolicyCredentialParameters"
            }
        },
        "VerificationPolicyCredentialContractArray": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/VerificationPolicyCredentialContract"
            }
        },
        "CustodianWalletContractArray": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/CustodianWalletContract"
            }
        }
    },
    "tags": []
}