{
    "swagger": "2.0",
    "info": {
        "title": "Trinsic Provider API",
        "description": "An API to manage organizations, cloud wallets and networks",
        "termsOfService": "https://trinsic.id/terms/",
        "contact": {
            "name": "Trinsic Engineering Team",
            "url": "https://trinsic.id/contact-us",
            "email": "support@trinsic.id"
        },
        "version": "v1"
    },
    "host": "api.trinsic.id",
    "basePath": "/provider/v1",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "accountSecret": {
            "description": "Standard Authorization header using the Bearer scheme. Example \"Bearer {token}\"",
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "security": [
        {
            "accountSecret": []
        }
    ],
    "paths": {
        "/tenants": {
            "get": {
                "operationId": "ListTenants",
                "summary": "ListTenants",
                "tags": [
                    "Tenants"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TenantContractArray"
                        }
                    }
                }
            },
            "post": {
                "operationId": "CreateTenant",
                "summary": "CreateTenant",
                "tags": [
                    "Tenants"
                ],
                "parameters": [
                    {
                        "name": "tenantParameters",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/TenantParameters"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TenantContract"
                        }
                    }
                }
            },
            "delete": {
                "operationId": "DeleteAllTenants",
                "summary": "DeleteAllTenants",
                "tags": [
                    "Tenants"
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/tenants/{tenantId}": {
            "get": {
                "operationId": "GetTenant",
                "summary": "GetTenant",
                "tags": [
                    "Tenants"
                ],
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TenantContract"
                        }
                    }
                }
            },
            "delete": {
                "operationId": "DeleteTenant",
                "summary": "DeleteTenant",
                "tags": [
                    "Tenants"
                ],
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            },
            "put": {
                "operationId": "UpdateTenant",
                "summary": "UpdateTenant",
                "tags": [
                    "Tenants"
                ],
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tenantUpdateParameters",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/TenantUpdateParameters"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/tenants/{tenantId}/keys": {
            "get": {
                "operationId": "GetTenantKeys",
                "summary": "GetTenantKeys",
                "tags": [
                    "Tenants"
                ],
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TenantKeysContract"
                        }
                    }
                }
            },
            "patch": {
                "operationId": "ChangeTenantKeys",
                "summary": "ChangeTenantKeys",
                "tags": [
                    "Tenants"
                ],
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TenantKeysContract"
                        }
                    }
                }
            }
        },
        "/assets": {
            "post": {
                "operationId": "AddAsset",
                "summary": "AddAsset",
                "tags": [
                    "Assets"
                ],
                "parameters": [
                    {
                        "name": "uploadedFiles",
                        "in": "formData",
                        "required": true,
                        "type": "file"
                    },
                    {
                        "in": "query",
                        "name": "filename",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "contentType",
                        "type": "string"
                    }
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AssetContract"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "AssetContract": {
            "type": "object",
            "properties": {
                "publicUri": {
                    "type": "string"
                }
            }
        },
        "NetworkContract": {
            "type": "object",
            "properties": {
                "networkId": {
                    "type": "string"
                },
                "networkName": {
                    "type": "string"
                },
                "genesisTransactions": {
                    "type": "string"
                },
                "poolProtocolVersion": {
                    "format": "int32",
                    "type": "integer"
                }
            }
        },
        "EndorserType": {
            "enum": [
                "Shared",
                "Dedicated",
                "Delegated"
            ],
            "type": "string"
        },
        "TenantExtendedInformationContract": {
            "type": "object",
            "properties": {
                "issuerDid": {
                    "type": "string"
                },
                "issuerKey": {
                    "type": "string"
                },
                "issuerKeyGenerationSeed": {
                    "type": "string"
                },
                "agentDid": {
                    "type": "string"
                },
                "agentKey": {
                    "type": "string"
                },
                "agentKeyGenerationSeed": {
                    "type": "string"
                },
                "agentServiceEndpoint": {
                    "type": "string"
                },
                "transactionEndorsement": {
                    "$ref": "#/definitions/EndorserType"
                }
            }
        },
        "TenantContract": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "readOnly": true
                },
                "imageUrl": {
                    "type": "string"
                },
                "network": {
                    "$ref": "#/definitions/NetworkContract"
                },
                "tenantId": {
                    "type": "string",
                    "readOnly": true
                },
                "extendedInformation": {
                    "$ref": "#/definitions/TenantExtendedInformationContract"
                }
            }
        },
        "TenantParameters": {
            "description": "Configuration options for creating new tenant",
            "required": [
                "name"
            ],
            "type": "object",
            "properties": {
                "issuerSeed": {
                    "description": "(Optional) Issuer seed used for deterministic DID generation.\r\nIf omitted, a random DID/Key is generated",
                    "type": "string"
                },
                "name": {
                    "description": "The name of the tenant.",
                    "type": "string"
                },
                "imageUrl": {
                    "description": "(Optional) Location of image URL used as profile for this tenant",
                    "type": "string"
                },
                "networkId": {
                    "description": "(Optional) Ledger network identifier. Default is Sovrin Staging (sovrin-staging)",
                    "type": "string"
                },
                "endorserType": {
                    "$ref": "#/definitions/EndorserType"
                }
            }
        },
        "TenantUpdateParameters": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "imageUrl": {
                    "type": "string"
                }
            }
        },
        "TenantKeysContract": {
            "type": "object",
            "properties": {
                "accessToken": {
                    "type": "string"
                },
                "subscriptionKey": {
                    "type": "string"
                }
            }
        },
        "TenantContractArray": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/TenantContract"
            }
        }
    },
    "tags": []
}
